{{> navbar details=front}}

  <div class="resultContainer">
    <div class="pokeCard">
      <h3 class="pokeName">Pokemon Name</h3>
      <div class="imgWrapper">
        <img src="/img/logo.png" alt="Searched Pokemon Result" width="100px" height="100px">
      </div>
      <button class="addToDB">Add</button>
    </div>
  </div>
<div class="searchContainer">
  <form id="searchForm">
    <i class="fas fa-search"></i>
    <input class="searchInput" type="text" placeholder="Search a pokemon">
    <button class="searchBtn" type="submit">Search</button>
  </form>
</div>

<script src="/js/pokeSearch.js"></script>