{{> navbar details=front}}

<div class="profileWrapper">
  <h1>{{user.username}}'s Pokemon!</h1>

  {{#each user.Pokemons}}
    <div class="pokeCard">
      <h3 class="pokeName">{{pokeName}}</h3>

      <div class="imgWrapper">
        <img src="{{image}}" alt="Searched Pokemon Result" width="100px" height="100px">
      </div>
    </div>
  {{/each}}
</div>
