<header class="header">
  <div class="logo-box">
    <img src="img/logo.png" alt="logo" class="logo" />
  </div>

  <div class="text-box">
    <h1 class="heading-primary">
      <span class="heading-primary-main">PokeTeam</span>
      <span class="heading-primary-sub">Gotta catch at least some!</span>
    </h1>

    <a href="/dashboard" class="btn btn-white">
      Let's get started
    </a>
  </div>
</header>